*{
	box-sizing: border-box;	
	margin: 0px;
	padding: 0px;
}
#title{
	background-color: #36A8FF;
	height: 100px;
}
#inboxrow{
	/*background-color: #FFBB25;*/
	padding:0px;
	width:1000px;
	position: relative;
	left:11%;
}
#inbox{
	/*background-color: orange; */
	width: 20%;
	height: 20px;
	padding: 10px;
	position:relative;
	left: 15px;
	/*background-color: #0693CC;*/
	margin: 5px;
}

#inboxText{
	font-family: Arial;
	font-weight: bold;
	color: #08B7FF;
	float: left;
	padding-right: 5px;
	font-size: 20px;
}

#inboxNumber{
	font-family: Arial;
	font-weight: bold;
	color: #08B7FF;
	font-size: 20px;
	background-color: white;
	border-radius: 20px;
	padding-left: 10px;
}

#inboxcount span{
	width:100%;
	display:inline-block;
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	color: #08B7FF;
}
#emailContainer{
	width: 1000px;
	position: relative;
	left: 13%;
	text-align: center;
}
table{
	width:100%;
	font-family: Arial;
}
thead tr{
	height: 50px;
}
#senderHEAD{
	width:20%;
	background-color: #08B7FF;
	border-radius:8px;
	font-size: 20px;
	color: white;

}
#subjectHEAD{
	width: 60%;
	background-color: #54CEFF;
	border-radius:8px;
	font-size: 20px;
	color: white;
}
#dateHEAD{
	width:20%;
	background-color: #0693CC;
	border-radius:8px;
	font-size: 20px;
	color: white;
}

.emailrow:hover{
background-color: yellow;
}

/*adding custom font*/
/* @font-face {
	font-family: 'Koshari'
	src:('/Library/Fonts/Koshari.ttf');
} */
